body{
    background-color: pink;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 100vh;
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    color:#AA336A;
}
#clock{
   height: 50px;
   width: 150px;
   background-color: plum;
   border-radius: 10px;
   margin-top: 10px;
   padding: 10px;
   color: #AA336A;
}